body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 60px 1fr 40px;
  grid-template-columns: 1fr;
  height: 100vh;
  background-color: #f4f4f9;
}

header {
  background: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

main {
  padding: 20px;
  background: #ffffff;
}

a {
	text-decoration: none;
	color: black;
	font-weight: 600;
    font-family: system-ui;
}



footer {
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ddd;
}

.details {
	padding-left: 10px;
}
.rth {
	padding-left: 5px;
	padding-right: 5px;
}


.boyut {
	color: #ff0000;
}


.tarih {
	color: #0040ff;
}


.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
}

.delete-btn:hover {
    background-color: #ff1a1a;
}



.file {
    display: flex;
    align-items: center;
    border-right: 5px solid #007bff;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.file:hover {
  background: #f0f8ff;
  border-color: #007bff;
}

.file-icon {
  width: 40px;
  height: 40px;
  background: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 5px;
}
